<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Print Release</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/jobs">Job List</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
      </li>
      {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
