{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Printer Release Station using PyCups and Flask</h1>
    <p class="lead">Test flask program</p>
  </div>
{% endblock %}
