{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Jobs</h1>
    <ul class="list-group">
      {% for job in jobs %}
        <li class="list-group-item">{{job}} {{jobs[job]}} <a href="/release/{{job}}" class="btn btn-primary">Release</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
