<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Print Release</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html'%}
    {% include 'includes/_messages.html'%}
    {% block body %}
    {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
